@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>請輸入帳號及密碼</h4>
        <hr />
        <div class="form-group">
            @Html.TextBox("txtUsername", "tommy@gmail.com", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div class="form-group">
            @Html.TextBox("txtpassword", "tommy1234", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="登入" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>