@model projCoreMVC.Models.TRoom

@{
    ViewData["Title"] = "Create";
}

<h1>新增房間</h1>

<h4>房間資訊</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPrice" class="control-label"></label>
                <input asp-for="FPrice" class="form-control" />
                <span asp-validation-for="FPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAmount" class="control-label"></label>
                <input asp-for="FAmount" class="form-control" />
                <span asp-validation-for="FAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FDescription" class="control-label"></label>
                <input asp-for="FDescription" class="form-control" />
                <span asp-validation-for="FDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FImagePath" class="control-label"></label>
                <input asp-for="FImagePath" class="form-control" />
                <span asp-validation-for="FImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
